.footer {
  .content {
    .left {
      .item_icon {
        padding: 3px;
        background-color: white;
        color: black;
        border-radius: 6px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        .icon {
          font-size: 20px;
        }

        &:hover {
          color: white;
          background-color: black;
        }
      }
    }
    .middle {
      .middle_item {
        h5 {
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.05em;
        }
        p {
          cursor: pointer;
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
          padding-top: 16px;
          color: #d5d5d5;
        }
      }
    }
  }
}
