.collapse_all {
  .collapse_check {
    height: 70px;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }
  .linear_gradient{
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0)
      );
  }
}
